* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import"_mixins";
@import"_variables.scss";
@import"_body.scss";
@import"header.scss";
@import"_vwindex.scss";
@import"_vwcontacto.scss";
@import"_vwhabitos.scss";
@import"_vwnutricion.scss" ;
@import"_vwrutinas.scss";
@import"_footer.scss";
@import"_mediaquerries.scss";