* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #898681;
    font-family: "Lexend", sans-serif;
    color: #ffff;
}


header {
    font-size: 30px;
    background-color: #2c2c2c;
}
.titulo {
    padding: 10px;
    border-radius: 15px;
    color: #2c2c2c;
    font-size: 64px;
    background-color: white;
    display: inline;
    position: relative;
    top: 50px;
    left: 430px;
}
header a {
    color: white;
}
.logo {
    border-radius: 50px;
    padding: 25px;
}
.bx-dumbbell {
    font-size: 100px;
    position: relative;
    top: 70px;
    left: 450px;
    background-color: white;
    border-radius: 15px;
}
.navbar {
    margin-bottom: 50px;
    background-color: #75706f;
}
.nav-link{
    color: #eaeaea;
}
.nav-link:hover {
    background-color: #eaeaea;
    border-radius: 50px;
}
.activeSoft {
    color: #413a3a;
}

main {
    padding-left: 100px;
    padding-right: 100px;
    font-size: 22px;
}
.carousel-control-next-icon {
    position: relative;
   left: 90px; 
}
.carousel-control-prev-icon {
    position: relative;
   right: 160px; 
}
.container2 {  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    grid-auto-flow: row;
    justify-items: center;
    grid-template-areas:
    "hijo1 hijo2 hijo3"
    "comunidad comunidad comunidad";
    margin-top: 80px;
    margin-bottom: 80px;
  }
.uno { 
    grid-area: hijo1; 
}
.dos {
    grid-area: hijo2; 
}
.tres {
    grid-area: hijo3; 
}
.comunidad {
    grid-area: comunidad; 
}

.hijo a img {
    border-radius: 10px;
}
h2 {
    background-color: #2c2c2c;
    padding: 5px;
    border-radius: 3px;
    
}
h3 {
    background-color: #413a3a;
    margin-right: 900px;
}


footer {
    background-color: #2c2c2c;
}
footer p {
    padding: 100px 100px 100px 20px;
    margin-bottom: 0rem;
}
.gradientfooter {
    height: 130px;
    background: linear-gradient(to top, #2c2c2c, #898681);
}

.form {
    margin: 50px;
    font-size: 30px;
}
.interior {
    padding: 30px;
}
.pushpulllegs {
    width: 500px;
    height: 500px;
}
.contenedorChat {
    display: flex;
    background-color: #141f25;
    border-radius: 10px;
    height: 900px;
    width: 1600px;
    padding: 40px;
    flex-direction: column;
    color: #141f25;
    border: 20px solid white;
}
.msg {
    background-color: white;
    border-radius: 10px;
    height: 100px;
    width: 400px;
    margin: 10px;
    padding: 10px;
}
.yo {
    align-self: flex-end;
}
.otro {
    align-self: flex-start;
}
.portada1 a :hover {
    border: 2px solid #413a3a;
    height: 550px;
    width: 450px;
}
.portada2 a :hover {
    border: 2px solid #413a3a;
    height: 250px;
    width: 750px;
}
/*@media screen and (max-width:480px)*/
